# Dependencies
node_modules/
.npm/
dist/
build/

# Python Virtual Environments
.env/
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local

# IDEs and Tools
.vscode/
.idea/
.DS_Store
*.log
.gemini/

# Project specific
backend/model/
frontend/.env
