# Dependencies
node_modules/
.npm/
dist/
build/

# Python Virtual Environments
.env/
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.example

# IDEs and Tools
.vscode/
.idea/
.DS_Store
*.log
.gemini/
.agents/

# Project specific
backend/model/
frontend/.env

# Docs
docs/

# Databases
*.db
*.sqlite
*.sqlite3

todo.md